.wraper{
	width: 100%;
	background-color: #dddddd;
}

.container{
    width: 980px !important;
    height: 1095 !important;
	margin-top: -200px;
}

.info_header{
	height: 280px;
	margin-left: -15px;
	margin-right: -15px;
	background-color: white;
}

.info{
	height: 240px;
}

.info p{
	font-weight: bold;
	color: black;
}

.photo{
	width: 240px;
	height: 240px;
}

.contact{
	height: 40px;
	background-color: #f6f6f6;
	padding-top: 10px;
	padding-left: 15px;
}

.link {
	padding-top: 10px;
	text-align: center;
}

.background{
	background-color: white;
	margin-top: 10px;
	margin-left: -15px;
	margin-right: -20px;
}

.right-sildbar{
	background-color: white;
	margin-top: 10px;
	margin-right: -15px;
	height: 1300px;
}

.title{
	color: white;
	background-color: black;
	width: 100px;
	height: 30px;
	text-align: center;
	padding-top: 4px;
	font-weight: bold;
}

.box-skill{
	color: black;
	background-color: #f6f6f6;
	height: 30px;
	width: 120px;
	text-align: center;
	padding-top: 4px;
	font-weight: bold;	
}

.summary{
	margin-left: 15px;
}

.sub-title{
	padding-top: 10px;
	font-size: 18px;
}

.experience{
	margin-left: 15px;
	margin-top: -20px;
}

.project{
	margin-left: 15px;
}

.skill{
	margin-left: 15px;
}

.education{
	margin-left: 15px;
}


#h4-custom{
	color:black;
	font-weight: bold;
}

#h2-custom{
	color:black;
	font-weight: bold;
}



#box-edit-name
{
   background-color:white;
   border-radius:3px;
   box-shadow:0px 0px 10px 0px #424242;
   padding:10px;
   box-sizing:border-box;
   visibility:hidden;
   display:none;
}


#box-edit-headline
{
   background-color:white;
   border-radius:3px;
   box-shadow:0px 0px 10px 0px #424242;
   padding:10px;
   box-sizing:border-box;
   visibility:hidden;
   display:none;
}


#box-edit-country
{
   background-color:white;
   border-radius:3px;
   box-shadow:0px 0px 10px 0px #424242;
   padding:10px;
   box-sizing:border-box;
   visibility:hidden;
   display:none;
}


#box-edit-major
{
   background-color:white;
   border-radius:3px;
   box-shadow:0px 0px 10px 0px #424242;
   padding:10px;
   box-sizing:border-box;
   visibility:hidden;
   display:none;
}



#box-edit-email
{
   background-color:white;
   border-radius:3px;
   box-shadow:0px 0px 10px 0px #424242;
   padding:10px;
   box-sizing:border-box;
   visibility:hidden;
   display:none;
}


#box-edit-phone
{
   background-color:white;
   border-radius:3px;
   box-shadow:0px 0px 10px 0px #424242;
   padding:10px;
   box-sizing:border-box;
   visibility:hidden;
   display:none;
}

#box-edit-summary
{
   width: 600px;
   height: 350px;
   background-color:white;
   padding:10px;
   border: 2px;
   box-sizing:border-box;
   visibility:hidden;
   display:none;
}

#box-edit-experience
{
   width: 600px;
   height: 350px;
   background-color:white;
   padding:10px;
   border: 2px;
   box-sizing:border-box;
   visibility:hidden;
   display:none;
}

#box-edit-project
{
   width: 600px;
   height: 350px;
   background-color:white;
   padding:10px;
   border: 2px;
   box-sizing:border-box;
   visibility:hidden;
   display:none;
}

#box-edit-skill
{
   width: 600px;
   height: 350px;
   background-color:white;
   padding:10px;
   border: 2px;
   box-sizing:border-box;
   visibility:hidden;
   display:none;
}

#box-edit-education
{
   width: 600px;
   height: 350px;
   background-color:white;
   padding:10px;
   border: 2px;
   box-sizing:border-box;
   visibility:hidden;
   display:none;
}

.edit-summary
{
	width: 600px;
}


#box-add-summary
{
   width: 600px;
   background-color:white;
   padding:10px;
   border: 2px;
   box-sizing:border-box;
   visibility:hidden;
   display:none;
}

#box-add-experience
{
   width: 600px;
   background-color:white;
   padding:10px;
   border: 2px;
   box-sizing:border-box;
   visibility:hidden;
   display:none;
}

#box-add-project
{
   width: 600px;
   background-color:white;
   padding:10px;
   border: 2px;
   box-sizing:border-box;
   visibility:hidden;
   display:none;
}


#box-add-education
{
   width: 600px;
   background-color:white;
   padding:10px;
   border: 2px;
   box-sizing:border-box;
   visibility:hidden;
   display:none;
}


#box-add-skill
{
   width: 600px;
   background-color:white;
   padding:10px;
   border: 2px;
   box-sizing:border-box;
   visibility:hidden;
   display:none;
}

.delete
{
	margin-left: 250px;
}